* {
    margin : 0 auto;
}

header {
    border: 1px solid #bbb;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    display: flex;
    justify-content: center;
    padding: 10px;
    height: 20%;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.contanier {
    border: 1px solid #bbb;
    display: flex;
    height: 100vh;
    border-top-style: none;
    border-bottom-style: none;
}

nav {
    display: flex;
    border: 1px solid #bbb;
    width: 12.5%;
    flex-direction: column;
    justify-content: space-around;
}

p {
    font-family: 'Noto Sans KR', sans-serif;
}

.nav:hover {
    text-decoration: 2px underline rgb(185, 134, 56);
    text-underline-offset : 10px;
}

.nav1 {
    text-decoration: 2px underline #8ca1ff;
    text-underline-offset : 10px;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: bold;
    font-size: 18px;
}
.nav {
    font-family: 'Nanum Myeongjo', serif;
    font-weight: bold;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: black;
}

footer {
    border: 1px solid #bbb;
    display: flex;
    justify-content: center;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
}

img {
    width: 10%;
    margin-top: 40px;
}

section {
    border: 1px solid #bbb;
    width: 87.5%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
}


article {
    text-align: center;
    height: 50vh;
    width: 100%;
}

.article1 {
    border-right: 1px solid #bbbbbb77;
    border-bottom: 1px solid #bbbbbb77;
}
.article2 {
    border-right: 1px solid #bbbbbb77;
    border-bottom: 1px solid #bbbbbb77;
}
.article3 {
    border-right: 1px solid #bbbbbb77;
    border-bottom: 1px solid #bbbbbb77;
}
.article4 {
    border-right: 1px solid #bbbbbb77;
    border-bottom: 1px solid #bbbbbb77;
}
.article5 {
    border-right: 1px solid #bbbbbb77;
    border-bottom: 1px solid #bbbbbb77;
}
.article6 {
    border-bottom: 1px solid #bbbbbb77;
}

.partname {
    margin-top: 30px;
    font-size: 25px;
}

.partint {
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    margin: 25px;
    margin-top: 70px;
    line-height: 25px;
}
.link {
    color: #949494af;
}