* {
    margin : 0 auto;
}

header {
    border: 1px solid #bbb;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    display: flex;
    justify-content: center;
    padding: 10px;
    height: 20%;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.contanier {
    border: 1px solid #bbb;
    display: flex;
    height: 100vh;
    border-top-style: none;
    border-bottom-style: none;
}

nav {
    display: flex;
    border: 1px solid #bbb;
    width: 12.5%;
    flex-direction: column;
    justify-content: space-around;
}

p {
    font-family: 'Noto Sans KR', sans-serif;
}

.nav:hover {
    text-decoration: 2px underline #bbb;
    text-underline-offset : 10px;
}

.nav1 {
    text-decoration: 2px underline #b073ff;
    text-underline-offset : 10px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.nav {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: black;
}

section {
    border: 1px solid #bbb;
    width: 87.5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

video {
    width: 30%;
    border-radius: 15px;
}

.videotext {
    text-align: justify;
    width: 30%;
    margin-top: 50px;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 25px;
}